# General
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop

# Specific
*.dll.config
.vs
/*
!.gitignore
!utils.go
!README.md
!TransportPodMK2